<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trackhabit.myapplication.app">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name="com.trackhabit.myapplication.app.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name="com.trackhabit.myapplication.app.HomeActivity"/>
        <activity android:name="com.trackhabit.myapplication.app.RegisterActivity"/>
        <activity android:name="com.trackhabit.myapplication.app.ProgressActivity"/>
        <activity android:name="com.trackhabit.myapplication.app.ProfileActivity"/>



    </application>
</manifest>